body {
  margin: 0;
  padding: 0;
  background: #262626;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 15px solid #24caf3;
  border-radius: 50%;
  background: #fff url(ios_clock.svg) no-repeat;
  background-size: 90%;
  background-position: center;
  box-shadow: -5px 5px 0 #086880, inset 0 0 40px rgba(0, 0, 0, 0.5);
}

.clock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 10px;
  background: #262626;
  border-radius: 8px;
  animation: animate 4s linear infinite;
  transform-origin: left;
}

.clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 10px;
  background: #262626;
  border-radius: 8px;
  animation: animate 48s linear infinite;
  transform-origin: left;
}

span {
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  left: 50%;
  transform: translate(-50%, 50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #24caf3;
  z-index: 10;
}

@keyframes animate {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(270deg);
  }
}
