:root {
  --heading-text: #597f9d;
  --primary-text: #547c9a;
  --secondary-text: #263564;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text);
}

.container {
  height: 94vh;
  margin: 2px 10%;
  display: flex;
  border-style: solid;
  border-color: var(--primary-text);
}

legend {
  margin: 0 auto;
  padding: 0 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--heading-text);
}

legend h2 {
  font-size: 30px;
  font-family: serif;
  margin-bottom: 0;
}

legend p {
  margin-top: 0;
  font-size: 18px;
}

.box {
  color: var(--secondary-text);
}

.left {
  border-right: 2px solid var(--primary-text);
  width: 45%;
  padding: 0 20px;
}

.right {
  width: 55%;
  padding: 0 20px;
}
